body
{
background-color: #A9A20B;
}

h1
{
border-color: red blue green purple;

border-width: 5px 4px 5px 4px;

border-style: dashed solid double dotted;
}

img
{
border: solid red 5px;

border-radius: 300px;
}
