h1
{
border: dotted purple 4px;
margin-left: 180px;
margin-right: 180px;
margin-top: 180px;

}

img
{
border: solid red 4px;
border-radius: 300px;
margin: 40px 50px 80px 180px ;

margin-top: 150px;
margin-left: 750px

}
