h1
{
border: dotted red 5px;
margin: 80px 145px 180px 45px;

padding-left: 145px;
padding-top: 145px;
padding-bottom: 45px;

}

img
{
border: solid red 4px;
border-radius: 300px;
margin: 40px 50px 80px 180px ;

margin-top: 150px;
margin-left: 750px

}
